/*##############################
############ RESET #############
##############################*/
@import url(./reset.css);




/*##############################
########## TYPOGRAPHY ##########
##############################*/
@import url(./typograpghy/headings.css);
@import url(./typograpghy/paragraphs.css);
@import url(./typograpghy/links.css);



/*##############################
########## COMPONENTS ##########
##############################*/
@import url(./components/grid.css);
@import url(./components/button.css);



/*##############################
########## SECTIONS ##########
##############################*/
@import url(./sections/header.css);
@import url(./sections/intro.css);
@import url(./sections/testimonials.css);
@import url(./sections/related-items.css);
@import url(./sections/cta.css);
@import url(./sections/companies.css);
@import url(./sections/footer.css);


:root{
  --primary-color: #bf2026;
  --secondary-text-color: #58585a;
  --subtitle-color: #777777;
}
