h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 5.5rem;
    z-index: 5;
    color: #fff;
}

h2{
    font-size: 4.4rem;
    line-height: 5.8rem;
    color: var(--primary-color);
}

@media(min-width: 992px){
    h2{
        font-size: 6.8rem;
    }
}

h3{
    font-size: 1.8rem;
    color: #000;
    font-weight: 600;
}

h4{
    font-size: 2.5rem;
}

h5{
    font-size: 2rem;
}