.link{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
  color: #000;
}

.footer-link{
    display: inline-block;
    font-size: 1.7rem;
    line-height: 2rem;
    max-width: 24rem;
    font-weight: 500;
    color: var(--subtitle-color);
}

.footer-link:hover{
    color: var(--primary-color);
}

.footer__social-link{
    color: var(--primary-color);
}

.footer__social-link:hover{
    color: var(--subtitle-color);
}
  
  