p{
font-size: 2.6rem;
line-height: 2.9rem;
color: #ffffff;
}

.slide-quote{
    color: var(--subtitle-color);
    text-align: center;
}

.word-break--hyphens{
    hyphens: auto;
    word-wrap: break-word;
    /* For some browsers, you will need to specify the language for hyphens to work */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}